body {
    margin: auto;
    width: 1200px; /* Set width to avoid horizontal scrolling */
    background: #f2f2f2;    
}

.chart {
    width: 1000px; /* Adjust the width as needed */
    margin: auto;
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background: #fff;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust the container height as needed */
    overflow: visible; /* Allow content to overflow outside the container */
}
.y-axis-label {
    fill: black; /* Adjust the color as needed */
    z-index: 1; /* Ensure it's displayed on top of other elements */
}



h1 {
    margin-top: 20px; /* Adjust the margin as needed to position the title */
    margin-bottom: 20px; /* Adjust the margin as needed to position the title */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    margin: auto;
    width: 800px; /* Set width to avoid horizontal scrolling */
}

svg text.y-axis-label {
    fill: black; /* Adjust the color as needed */
}
