body {
    margin: auto;
    width: 1200px; /* Set width to avoid horizontal scrolling */
    background: #f2f2f2;    
}

.chart {
    width: 1000px; /* Adjust the width as needed */
    margin: auto;
    font-family: sans-serif;
    border-collapse: collapse;
    /* background: #fff; */
    /* display: flex; */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Adjust the container height as needed */
    overflow: visible; /* Allow content to overflow outside the container */
}
.y-axis-label {
    fill: black; /* Adjust the color as needed */
    z-index: 1; /* Ensure it's displayed on top of other elements */
}

svg text.y-axis-label {
    fill: black; /* Adjust the color as needed */
}

.state-label {
    fill: black; /* Adjust the color as needed */
    font-weight: bold;
}